<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>
<%= form_with model: @post, url:posts_create_path do |f| %>
	<%= f.text_field :title %>
	<%= f.datetime_field :date %>
	<%= f.text_field :image_url%>
	<%= f.text_field :content%>  
<% end %>
